[
	{
		"customer": "Demisto - Demisto Internal - Not For External Use",
		"validTil": "2024 Jan 16",
		"permittedUsers": 998,
		"sig": "PUycidZtKbmMqofaC6bxFGSYDv81lorZ9L0CruN2U6MZfZxHNxlU5nlA07NFJdTFcX03gAgmaTmAiBO/XYXjkNTblCCQWblz1XhIa+JZB65y3uLD9A/2ZDrTYSwupyJ103jPwxGiI3IXmiXwifxfpcoFSp1cFSFasoc2ukX/c9k=",
		"sigv2": "j7eIXfP6YVao0J7iy5FM0UsC3vL4y7n69Z3AxfURW/okFp7Mlo/rh/BbY1FtGfjJF4xjhM3wuiZa4sRXAeU/bIR6ZkxtxlZCjot74+eel7vb+Lcy3oJbrpRLPWtzIOq5AYY1moXn6VZDxAl7xPZ8RbiD0TAkmJDRi8bS8HOHlNE=",
		"sigv3": "Q4aJN5T8zKztqVV4XVYOpCaxINPwmtfEflZu8+9MzfKFRAUBEjEdlPHd46bb6L5tKd9bQOBohuLAakPHUEI8Catql+kAEUO1sSf2Bi7duI9N4g8y5ESeeTkT7C4h0hOwWTC3cQPktNgoO6pNcqPqu9b3yd5RpwqZxqOVYd1MlD/T9p8HRJiu4vkIL34AI48c165MSqvKQAO1tESJHNPon1ZTUl8g4AFQviR5wLcte+RbGjR6nvOulfok3TrFhYkwrKop6LWkn2zeyUNZEgPZuqmi/tYyMd+U9G72gwV4HjX3Ndn5rV10rhZv3oeq1xoi34HlfItZH34YBzE25wXT6gfNIYFFjoifnyioGVcHwlgSiPYf+2lxbaJoVdTh0Am3b7pAw0e9niF4yTwSQZZaYW09sBditKo44Oe6k4mDOsdr05t7xn21w5kaIpYo80+pztfQ5QVtPnFDz42zKygvpaOFonoc9MLj5hpGW3q2mJHOvkXT8xVSNlv9c0wRStntyjE+Nvc3wuNq771ZTjMzDqftFjwBceP4Y6ccSoOy8YpPYrxRUZXrD5VSbYdEYepGmHhDyf3qc9iyS2edDAst0iWKaTtvo3UX2ccH3n8F39tjn0h9VAg/7JQbfdVUhulVl+oOrQnVmUWgRHV8i5PN/3xMWadXrpkSWdhIZhMPWdc=",
		"type": "evaluation",
		"product": "soar",
		"id": "CUIDbbdce21463b4dfbe3535acd7d81a5bf66f121add9b02515cd3d9b87185184232CUID",
		"customFields": {
			"accountId": "245",
			"autofocus": "gADVjZt9JcwppGFOMxoLTmHVphbCqxT8rGF5JYyGVsCYCYjdqIOaCDQ/LY6o+I+syHkeSwrnGXVUpod1X14dPGf4zRiQG3nKFu7RWFJ3WV/baHp2l+E664YRkeuANkve",
			"licenseType": "Internal",
			"ref": "#38568"
		}
	},
	{
		"customer": "Demisto - Demisto Internal - Not For External Use",
		"validTil": "2024 Jan 16",
		"permittedUsers": 2,
		"sig": "I/GzXTnu+ZWo9EHY13Tmf5uBmXYToccGtSvEGgQVvd/FBJW8vZfqgBIw7z7bmqKmk4xvQu6Csv3Q2EalqYgjUDS7O4D1dS11kscAwcJhZ67d1s4U/Ai6tp7hpq52hETIeV/0mUXyabeC/sWh+SH071uY5B4o+A04uIEzyLIvfBQ=",
		"sigv2": "S/fHQFAHnA/e+nKljf1P6WX92GqfszZpEFWrRYkbz13pZK0a7VjLEgdOb5KSDl7tdLc/GgLHUGIB8MsUvAFsMdFWBT0oUipuHfAE9SV+9FQObY2CcpX6nG1atxtUz44v6moyjMT7+9nQ6Ppi0W/XscpMfUQ61RCfKrKR5YgOn9Q=",
		"sigv3": "hIdrOhFXWWlEWwl/Z4QpuDlVO+gRz0Ir2ByNgEKbCmPTM+k1aWzEzggNtFMVcvdN9f4n0jopEaR6i+sYouTCdknxK4g1tpVsnkO4ifajZNyaqkOzt9DP3KNcMoM9OkOKgkyY7/3/mpbBj9IeYJyz/pMPduDXWH6I31gnc8Vd9ClKyp78nTypAqabXBaW4kSKNETN9dufayLTQMn1JLfnAOedsUBHjmg8Isxpp9zzP11jb58bcnahKgPl8W4n+lKapYTPmIi5JY3LiFVEs8euwcUoUtQu1gC+UuW+HL75zQA+7773TFxyjh6HLh8lXmyDTGfq/9pcN7lIjznbZ9CP4Lk8tQbwvX0ZLBjaO/WI+uTpJq9sw5F4zjlF0XRV5mLVGotxxboSFc4jk5IfTeX4aiccid9gOmKC/hhXkOt9C5LF67puIF5C93D7xNPWwk3qMshgeU8fgTjkzSrQ69h/QheyEbijlmASMN1ofjvBPjE1gRrJdaEY6jPPmcH5DKLu6rKLKHm1JgTuowUXfZv+HnQCXma1yKyRQ9+GgOA3aCwRp1R8u+KYeSsyRJlJEqSgbhbWN0hY9Lk/1armcnRgvvXVCLw/NHqtwPpuMJSxrVwZGF3QTdQ24dX6lfdtwQbLtmbbHPneFfvQyBs1ecw5etVuN7cLyxKwrPGMhTfyCac=",
		"type": "evaluation",
		"product": "tim",
		"id": "CUIDbbdce21463b4dfbe3535acd7d81a5bf66f121add9b02515cd3d9b87185184232CUID",
		"customFields": {
			"AutoFocusTagsFeed.api_key": "gADVjZt9JcwppGFOMxoLTmHVphbCqxT8rGF5JYyGVsCYCYjdqIOaCDQ/LY6o+I+syHkeSwrnGXVUpod1X14dPGf4zRiQG3nKFu7RWFJ3WV/baHp2l+E664YRkeuANkve",
			"accountId": "245",
			"autofocus": "gADVjZt9JcwppGFOMxoLTmHVphbCqxT8rGF5JYyGVsCYCYjdqIOaCDQ/LY6o+I+syHkeSwrnGXVUpod1X14dPGf4zRiQG3nKFu7RWFJ3WV/baHp2l+E664YRkeuANkve",
			"licenseType": "Internal",
			"ref": "#38568"
		}
	}
]