[
	{
		"customer": "Demisto - Demisto Internal - Not For External Use",
		"validTil": "2023 Jan 15",
		"permittedUsers": 1000,
		"sig": "HMckPzdd2GeBNIbm+dvPZt4sjSzb8FB1+aO8+C/N5fMRjHWzo6lysUneUbjZs5Y8IuWH96mgDmSFILDhSaVv+DlYccDKFAH4kVQmbSGsPpF0qfg+p3ytgVuZfDaDshrFWpBOxm84Lnre/CefGF6fPs4BpSPuEXWtb1cng56fo4s=",
		"sigv2": "oYLyY7lvExRA+vn/qrhrVyrvwt3LLc7eHTKTt3246ZfxI1bxZz8dV4HPU+cZfh9nNjMR5lirQx+qw1xHPj+W8XK3oLDrfJ2o3d2Wfh6E0XQXIEVtyyNrwC6IiOe1dO83V2Wtp8EaijQ9KYNCa/PGrGNofkEAOeurGfCVYEuOrw4=",
		"sigv3": "gMj+dTp+VNL7j4JK9tLF2UsyWxR9Bj6GbSOBYzLVNOKKWYlPNeNxpvRCOYoThmE+lCvC0WspPG0Nuu1t72HGKWNlCVVKzyl+W97Cjdey+ZYfzghyAFQayZKcr+7zL2EGGJWeIFz+RFNaLjuVxh9ahtn8BGoVA+LbveFoGU2pgeAULXKwDa1/mtojRKql0kBdgMDFztPnN/3w/iiBmvXIEkzZqvx+C+9mcVIodPjQfhc2TF0jg2SfT0/SV1MhKpeP+60fpecrUdDh/XwVZxD1VCGn03+Escs9ztUEwEg/bZKty/sca5O2uKwbfMgIkUDj5lXi3Uks0OiTh/tXboVMaLVDuqbtjdjP6jxI2A5IdC1aHbmTM6pNALZnNAKIKpX69GPJroY+OMOuQu6OqaLtrFTIevDot9j2aTmSpH2tVMtbu9Vf2WaGjW+c6x0zppEtlEXQUsZ2DhNerAFG4e491rhcZmejzl36KrFBmRx5jDIW9AaXvsi9NVcIhHopiBXWuocyFJ33+AP4SLypYYkJsli1i++hTkvE4DKenlmClikVwhWQd/JmLZubjZZVRqv7kxlxbCc6xCCU4tX8ktsPsp78IdRBHIjMlaGuKArGqs7kEviddNJ6YJ0mM3QOkKdnkG4xQpkN/ywVoV1/iTOBscaq2XrZDFsT6oxH1blvrug=",
		"type": "enterprise",
		"product": "soar",
		"id": "CUIDd888a5a5dbae18b878cd69189d7e05263a520e68b75517f5c0e819e2114b2b0fCUID",
		"customFields": {
			"accountId": "245",
			"accountIdA": "lIDtSaYNMNfncJ0Nh7QCJEs4AFwvgyWke+OhLzNeWbl4YlAP4m1Q7lK+AqNnQPB3+5Wz6LCN8ssSjiZ039V44DeSAKJidBICPyAvpXvwc8qWpdNtgoab4aRGqal61HkXVaTbec9Ecg1oU0oWyajv3IIH8iS/mvQQKKDZvnZG28VnTbhaCK7ErhI+N+vL6XHGeOdrzk3CBf4wz/tHQDmmjROTdvtVMxSVfZRX0bc2KLKigU80K7J/JuG6SUYfpk+U3/fTB7O8qdauKAo+fKiCjH3zjsemzHJZp+zFKjZtk0AmzbPJIWmizCLB0OMOFPunMt8e1+juS+4cmWuNuxOZ/g==",
			"accountIdB": "JNiC9c60G4dfj8j2EpoyedbS1UQhsfchol8080OXsKRLQidWnTwTXXi3crUhdJlYUShsWga5QPpyp13xoUtOMemDs3t/4Kqq3GmR2ruBuTTRO/RNJ7Fyb1HQB2WPe1w7NAqG+HsjD/JWaUByTDwUZ2eRSCjCHXlAGmCnyYFq5X76ds6FkFUfe3+ZFnOIse8U6lJhlaSHi2oYN+RklzqdI1p851bL96js3xFpIePzBLEXt5gKunOar9KvesS2t0g4cy+EaL7bdr5s3nA5X5YOepgv1K0V1BtS5lxnP9oU3ZqZMFxnCju3n5dnayZ7EOnuzLrUOGQQjShgEukivnv+6A==",
			"autofocus": "gADVjZt9JcwppGFOMxoLTmHVphbCqxT8rGF5JYyGVsCYCYjdqIOaCDQ/LY6o+I+syHkeSwrnGXVUpod1X14dPGf4zRiQG3nKFu7RWFJ3WV/baHp2l+E664YRkeuANkve",
			"note": "AutoFocus api key is yaels. signed by Nitzan",
			"serialNumber": "02019654579"
		}
	},
	{
		"customer": "Demisto - Demisto Internal - Not For External Use",
		"validTil": "2023 Jan 15",
		"permittedUsers": 1000,
		"sig": "YPucMpxn8rn2eUjh8Wqw3F/cwyQJ6XOIDGEvBfFiszWXvc7KFxPObyO0F1qWNE6hv+2P8aX5CKW7wdeIwXQrMuPG2SrIyVVGbB8Q2VIqsqH71P4O33cnCOXqBkEYGXnHRohIg7TUia2Ur95sokdBN4NcVhZx4B/8wXGybSl+43c=",
		"sigv2": "Z5sZ9/8zA5XMmWrqyNHUTGWdMuTOysXAi8CEBTN0UGoFHCD/8MBuEjoTtk5NFIip9Tb1HiGmCFk0VBtHnZiu6mGs1TJFwDfuFtgIiNrbX5dK+y82g02AEszEUKPUT6XQ2jduUjJa7se1RT9Ix9Q7LrGj2y/AlQmRL/bh6efdPuc=",
		"sigv3": "hiGEKcB8dZon8rO9o5Gopd12KHKvsgnewdEtV27FuN3ku+BTK1rdk18bgSKJKrd+r6D+dJ23jYED5/i0na6Bntdvq4YXqIg/973qgdAB5aRwrrhm3LUGJublUPc09pRpXA5oPDbINCZ18nxbNLYLUAKaWDFQobY8sjOsG4rYrqGB/cgxbFjNiTOWKkX8fKxBnhJUnpMFmfd6lmi57YnGrfEASaKJmkNJ79CPu4Kd2jHHa37ULrzrRWQ2HlOsjggW1rPxDqlx0oNdLOWzZavXarKN+PiAksA/ZthvBbIsQOFTT0jWQik84IbbcXvs7oel2EUmXImUJnZI/vELAjV+n5Eul4wg4Nfy9kIZQNvpuhVnz3t4oT87E4Y/FHTXS095kfygZ3e4DMNBl71tfmKfXzNexuMmCV7s0M7xaWLmNQozwkiRNdTQJOtIV3ZMKmtZb6J17PUtrSiVmjtlkQ2xeyvR0+jqcJXUD+gOsdO+EK7NDa5qkFaEa6IAVXHRBGVX59YuAVypKY8u6cn84ikaMEFnBjuB93eOABorYWo5v3+IpPUH0xXAE9O5a+Xd5WKIVBUvLuervcOH9YAHIY7Jwncd29F66hJbu8n5hB2IAZqVy5rDQMgkVdfElGjJxTfp1Cm/O4rYu7kv+eXoU/3YMvaRM12IRwBanYlBpzkaGss=",
		"type": "enterprise",
		"product": "tim",
		"id": "CUIDd888a5a5dbae18b878cd69189d7e05263a520e68b75517f5c0e819e2114b2b0fCUID",
		"customFields": {
			"AutoFocusTagsFeed.api_key": "tcg02oO2p0t76aUaHs2lau1/R8sXxkrTMEdxNv1RLFQUfarSe/1i96ivjQ0MXliFiPqf24gNkrf3aLHZDxpWK/3tHDkbRNdFYnUt8m9aRa9I/MghhwBYqZQ8/PndGpDI",
			"WildFire-Reports.token": "38/VYVUgoAOr1ipnLorQotTwa5Rsr4n25Co/cv+YTgVIBEP8hSF1W73Osu4ti6CwWAREgeF1VQnM9xoOgyGQnwVqDHn2wZfncS2TZvH9v7IzYFdQB512navGP447cYhG",
			"accountId": "245",
			"accountIdA": "Cp0spFapNz2lOfe8bNOtVInynZnif1JppLPSHoS75unD0AQEmwx6YYSzd/33EoJleWrbYQJukWfA45li31ceN96HUzc0ZM1vvwE32pLoHHqXGp/CZaO95Qaxg4gOGi8BZlNDk2IfrqWtGSjmEHNmoB2sEiSkDeRkfxchW8O/TXdnMFAM9ygDUcbAESvdfd2pHwjTwgEguvVmjc0FS9o2QRDG8gNw26rAXDuZpRzs0LCTZkW2PFnAwGZ15+/KJIQipVpGUDw6QWwmBUR5+NPoDCaF2SUYzbJXiFxdL+20sS4cCB7iA26j1VLZ+F5eoJneO5MTKjwuVhlPHKsGl/SPiA==",
			"accountIdB": "ptTMu2lx+HT4XrUTbTCEQ2YIp8vphi4dsosz57knGtCYyuo9BudAvhsPsLBGx4uLp92YfZkv6y7zPuF7isgFnXBZFivBv3U01QqOjNyWp/2pWe/IORGHgCIGiuV21MZc+p0Qtq0UaPArXdWSktaFTd3cKbmk9dp1H+mwcJ36keDq1KE7F1jLx3pmOkJHK+udZU05PGXcHiSdkoBM0CX2bNg3T158yku2c4nPJtQZbk354O9e5Ek7Q0R5mO6CfutJdjEjdEcyvlKK2qVVB/5GToCjGOFYMjbWg0ID/FMi8klrpBIQ4UNDZcJ/XAXKP8q26QKc8o47Am1HEsXcsp+BIg==",
			"autofocus": "zcCOkCC3UlwTzd9b1uiiA2jpR6kpOj8Rcj2yolaZakRlTgNWywn7xrjRuGSo8sgSCW3o1xceOUeQHQgx4TgZQLhiG+6wrxu0DBIQqoAwbuivcvMBZpkBeQhl4hu8z0Hg",
			"note": "AutoFocus api key is yaels. signed by Nitzan",
			"serialNumber": "02019654579"
		}
	}
]
