[
    {
        "customer": "41st Parameter111",
        "validTil": "2026 Dec 01",
        "permittedUsers": 2,
        "type": "enterprise",
        "product": "soar",
        "id": "CUIDac2d66dbc3709ee24d150a00a22548fbef25f7d9f54d7f158c4166881cd0046dCUID",
        "customFields": {
            "AutoFocusTagsFeed.api_key": "SdAeQ/K6KFuITL5Ip9b7GDDTci4Tky5LcdzOKJ/uFyHeYljuEi5+v4eY38fnV0LkJv3BoSo7kPKgz/+wmPYAoFtC2dMyE2AD0kIV1qTKlKwsCC/k8wyjozoP/pcoCEogLVJYFA==",
            "WildFire-Reports.token": "ws1JuSH8LWYDzJqxGHD6lu9Juw+O7a2xFvrgu9aDpuHSvOlUEXrqpxcfxx0/2TKOg7t8KY+HOnbSaOY173wnpYtkiYvm9agwa0C4Uvl2l2JbkMA9RDBZLSnIq/vQL5I9",
            "accountId": "211459",
            "accountIdA": "LFZ5Fy5o+N9zKKxLDaOuughLhdIukXb3Vq29S22OED2vEnA8KpRa8oE2uBcDFoL5pfi4q0OvOQXvYHc3GFh6oGrIsopxGe93iRbte1BNXmEQMRkKykWGiLqjAYSt3I27sNTEoEOu4p8tUIphHe/XtyJO288W5UIwTbk+YOzH5ErYUOacP/pnK54obsKtOPHeqH6iP6kSeoYzJbKLYelmpD0U7To5g6wRnifdRjbetR+DKFgAkL6fJooIVR5GxwYSFrpF4Q5miKQ0tH4cy7P1NS1abUWVgzO1wFmveqirCI0apZMtAmd9QCCCnP7a//n7XrU1BwfyUloNdvWbJWwe1Q==",
            "accountIdB": "atZ4tXIfDuMgGiqWL+i+W4ZDKFY52hTysktRvk+9Ta5AnHT4nxN0bGUoCU80cwMZecgk873i23LGS+o6N0It7gaaV/CKVuxSltY5Yk3nOiDFVcSmaj9U7WdzslUlJKreiSuWj9+By/crCAjtbckl2yYQB0GM8+7yuiRSWWwfIo4fJ/M64o13b3o16Z35VE3eqFpqhwD9o8OU+zcjcgxlVcRjf4WcuPQkujrhB+hff9qSb/rrFSlZEeRQI1/zSFIPEYZ2bitAWvTwAmwzh1rA8MDGHGtsB+zU+ywJOGi94vOC91e3DvRPy3NZ+K86UQXq0uX+FvJKHl7UY52Qa9+3Rw==",
            "autofocus": "ALphVXmrtSB0It3+6Zrdx+ZkAMzj4rHykTVI6KZ6AQEg2ce+yqBH0t+ejGBFkdCPyiRE4QsX/Y6I1kkRIk+HxCW3MhMjPypffdfUIiNoC0JPWS9vNe22S7JG6XHAe9dGW9pNZw==",
            "licenseType": "Enterprise",
            "serialNumber": "02019153507"
        },
        "sigv3": "H+JDZcJcU1bt8/3Um+uO1ZB85ipoVSmPRPqjdChXhRJU0YO+cm+aF/BvYybsPbVbpYGTvu3ZVwJDY3C2LFOKIVGfF8RVqrvU2HfNzdjKX6NMCR5Bh8YMnmlTQJwWYRKvhXMdD+XDpmxEY3/kla+EpAnj1eJoyRppRis0yuw/3hQTU6dPAZomBukmJUkEI5IFKSexAEhSykLcqVkRhmTfBpspywxzXfYdDGsOe+/GbcbhZDeV+A4gFIEvh+TQw1uI1IKzCqoUNBgN0cFgF5lrDZYzHh5K6g9Wb0oHKyqHJo8uK9FSiErg+a5/LzuHWkU/OhCd4DHmsD8bCCZPFkTnwJGwpIW7L2knAiePAX6heMdmytBdQ6R3C/5y73v4Z1wKLNhVHznpVOvXCjJfgjlBS8VgQuSi2Zh2s2tGbcrtSylHLUq18s8AsBLTR+Ztj6AWHZNvkprHYewtSDAUBrJ0aBolst65ZjV+/Wz2q4pnZQzj9jjf6qZKSLxaTcQzhzcidX8Xl5wmK4KHfRh4qfxYeIcNgUjpa8yYY+34gdzD4gDcX3tT2rjqkWBQIHKhjuT/bIpT++tr36e0iX9ls9DftWAy3Lr9exBeXy/jIsvawUjms8y9E2pjauojtBsSClS7Eydp0faO+FiJVRqjOv5uQpu/nC01gSSwinN/By6UhSM="
    },
    {
        "customer": "41st Parameter111",
        "validTil": "2026 Dec 01",
        "permittedUsers": 2,
        "type": "enterprise",
        "product": "tim",
        "id": "CUIDac2d66dbc3709ee24d150a00a22548fbef25f7d9f54d7f158c4166881cd0046dCUID",
        "customFields": {
            "AutoFocusTagsFeed.api_key": "mGmmzeS36/0eHhRwrto1YW7CVuXMxDajsKaPSoOigrPAfMxceYFe6RBh25SDqILE1HbBzB/ZLMcvh9g/RAqpvPC84Ga59VRxHcy/NoQt5UEvBZiEBVfiVsTx/sEEPCGU6xY7YQ==",
            "WildFire-Reports.token": "Pm/KBvUeNDF9NTNam4Cw5aStShr2aVCZ4B7UzS7mBhb7B4IIpFegJGE8kaLLHHfC7Fle/++j/qSbWxw1eEMAxSujFJO0GBWF66Mg8P4+8I7lgyk6L9J/9RxMKzQFFs+j",
            "accountId": "211459",
            "accountIdA": "svQA2DdseT7qkjKdwzkEG/TW/e9Vd8ZnrFoezPEh3VjQ56+d1B+2/PIZQSpxZs/l+8MS+hM4AYtKb+N7Po3oxF6oWCakKMdy5r3Ulh6BQK4/AtwUPyRxb2Ny+mju2dzgfHzkXumXSJJEoQWzudITPgaF95Pblc8VbFcZqWAEHHRFiRW3doZS4jbfZ/5sgKLb3erKRaKRFx/QxzW2ZskGvQe2mZybAQFNRJxV44hNddiSwUcScmmeBHN7XsInEQHZ6VtnNj9+Pzbslvah4wzMEbOHhjFizFF9zybQxYfCFqnfWGmYKsO8R3sz2LS50kAPTymkxLMS9GS1A+173K5U5w==",
            "accountIdB": "PY/h9WjYksfRDVtavXgsIiFQx7wMFZqxEE0JHIkEpU0J+SUX/cKyo2sDy/EmRq3CyTMDa14BIKJgbfYT36MySVQMUxoDpAM4ieCEsFzB1cJ40Jqr4DVDNzxljnHZifNUt5gC34vShIBnF5eOCEgqtmoz6Ld39clf2NeQyL7mA41PnbWLTSe80Aj6jDCbF3ny9zmJc5SeZ7e8J79PAVo3zPbHpza00WcxwbyZNxMOJjjlrws8/SdOhUyiHRr6l2hBnXbk5gP0bCciXdMdk7s1Zt3UhWR5BCfotO47EjglE+aFhiuDuOuEJwN+wsaFJTQMoL2wLSwHqFlXYwVVHpc8UA==",
            "autofocus": "68O7M9pVmkSxLDQ+ikXBTPdQqk9mKla8ajlv1B481ZjUEmmBQhVUK7Xjwe4Z8Dq9N2L8+Jsf00Dy4ZapkKmtFqb0dK9xp0Bcb0VVULgXbk52wPigUR5/aP/CS/YMUOUP9JZbGw==",
            "licenseType": "Enterprise",
            "serialNumber": "02019153507"
        },
        "sigv3": "sQejst/Y5nPU6l46kwOlMpaQM62mS5eGCvwiLNh4pfRsax9R2hxmdJ6D3wKiUg7PTRozR4i9RVGcjY7USVx9//vVE/eEuRXBX6w5sdqTNFHntLqgzxCTOBzQ+BgW4F4uc0eWKfsYyajSbWeDVdxe4JldzoqodOMO3/0N/kMDUukg0mbO7bhEI225EQ+SFDT6xnRFULVNldpi/5P4lPOtddf+sGpn3BjGhERsIrWZaOt4uJwYlm2YcJBxtet1o1vGKv67zsv20jG6HQfrAo40GCdBPKgq/i3P9dmjGVb2E1M27MULmm2/pzv1n/yew54bafNslf6z4s5FEa0dJ9Jiz4OqCrnjB4wSaJaB1YVMpwKHfI56ZgD6n9hbhsQFFPe2zCqbiyYBrgP4qee9nOLy5IWvwVeQqnMyDM+O46vaACYy5QVBctbzDjPx9xlqpq7vBxxCUX4BcBJyCo6L3zNlWJ8/BP2U7lp7UPOUQIjgOydLNYiaDem6lOOEDFHH9j8MpYGaDWK9EGKNhfzDt7Y6JcPZuNCT9wKeseo0HT2TutLj8xeIvpqrKnnBsaEWZIE8qtQCPz83u+cjSfJblCoidvKqW86/+OsZoKDPG1O/4O13+SYRnOvkOFATMlrHDjcMjGcsBJkTKqibkU9/3kb4qO80iM4ykHVkKvWnwE0og+w="
    }
]