[Unit]
Description=mitmdump service

[Service]
Type=simple
User=root
ExecStart=/bin/bash /home/gcp-user/mitmproxy_starter.sh

[Install]
WantedBy=multi-user.target
