{
"telemetryStatus": "notelemetry",
"users":[
                {
                  "username":"admin",
                  "password":"{{ adminpass }}",
                  "email":"test@demistodev.com",
                  "phone":"+650-123456",
                  "name":"Admin",

                "roles":{
                  "demisto":[
                  "Administrator"
            ]

         }

      }

   ] ,
   "apikeys": [{ "name": "content_test", "apikey": "api1234567890api123456789", "username": "admin" }]
}
