.release-sdk:
  rules:
    - if: '$SDK_RELEASE == "true"'

.create_artifacts_folder: &create_artifacts_folder
  - section_start "Create Artifacts" --collapsed
  - |
    if [[ -n "${ARTIFACTS_FOLDER}" ]] && [[ ! -d "${ARTIFACTS_FOLDER}/logs" ]]; then
      echo "Creating Artifacts folder: ${ARTIFACTS_FOLDER} and it's log folder"
      mkdir -p -m 777 "${ARTIFACTS_FOLDER}/logs" # using the -p to create the logs folder as well.
    fi
  - section_end "Create Artifacts"

.before-script-sdk-release:
  interruptible: true
  before_script:
    - source .gitlab/helper_functions.sh
    - !reference [.setup-network-certs]
    - !reference [.poetry-install]
    - !reference [.granting_execute_permissions_on_files]
    - !reference [.setup-artifactory]
    - *create_artifacts_folder
    - !reference [.create-artifacts-repositories-folder]
    - !reference [.clone-content-test-conf]

create-release-branch:
  stage: create-release-branch
  extends:
    - .release-sdk
    - .before-script-sdk-release
  variables:
    SLACK_CHANNEL: $SLACK_CHANNEL
    RELEASE_VERSION: $RELEASE_VERSION
    SDK_BRANCH_NAME: $SDK_BRANCH_NAME
    CI_PIPELINE_URL: $CI_PIPELINE_URL
    REVIEWER: $REVIEWER
  script:
    - section_start "Create release branch" --collapsed
    - poetry run python3 -u ./Tests/sdk_release/pre_validations.py -t "${GITHUB_TOKEN}" -v "${RELEASE_VERSION}" -r "${REVIEWER}" -b "${SDK_BRANCH_NAME}" --name-mapping_path "${CI_PROJECT_DIR}/config/name_mapping.json" -c "${GITLAB_STATUS_TOKEN}"
    - poetry run python3 -u ./Tests/scripts/gitlab_basic_slack_notifier.py -s "${SLACK_TOKEN}" -t "The release of demisto-sdk version \`"$RELEASE_VERSION"\` has started:\`"$CI_PIPELINE_URL"\` " --allow-failure "${SLACK_ALLOW_FAILURE}" -ch "${SLACK_CHANNEL}" --name-mapping_path "${CI_PROJECT_DIR}/config/name_mapping.json"
    - poetry run python3 -u ./Tests/sdk_release/create_release_branch.py -t "${GITHUB_TOKEN}" -n "${RELEASE_VERSION}" -b "${SDK_BRANCH_NAME}"
    - section_end "Create release branch"

trigger-content-internal-dist-nightly:
  stage: trigger-nightlies
  extends:
    - .release-sdk
    - .before-script-sdk-release
  needs:
    - create-release-branch
  artifacts:
    expire_in: 30 days
    paths:
      - ${CI_PROJECT_DIR}/artifacts/*
    when: always
  variables:
    CONTENT_INTERNAL_DIST_TRIGGER_NIGHTLY: $CONTENT_INTERNAL_DIST_TRIGGER_NIGHTLY
    SLACK_CHANNEL: $SLACK_CHANNEL
    RELEASE_VERSION: $RELEASE_VERSION
    ARTIFACTS_FOLDER: "${CI_PROJECT_DIR}/artifacts/"
  script:
    - section_start "Trigger content-internal-dist nightly build" --collapsed
    - export GOLD_PIPELINE_ID=$(./Utils/gitlab_triggers/trigger_content_internal_dist_nightly_build.sh -ct "${CONTENT_INTERNAL_DIST_TRIGGER_NIGHTLY}" -ch "${SLACK_CHANNEL}" -sdk "${RELEASE_VERSION}" | jq .id)
    - echo "${GOLD_PIPELINE_ID}" > "${ARTIFACTS_FOLDER}/GOLD_PIPELINE_ID.txt"
    - echo "content-internal-dist nightly build triggered successfully:"
    - echo "${CI_SERVER_URL}/xdr/cortex-content/content-internal-dist/-/pipelines/${GOLD_PIPELINE_ID}"
    - section_end "Trigger content-internal-dist nightly build"

trigger-demisto-sdk-nightly:
  stage: trigger-nightlies
  extends:
    - .release-sdk
    - .before-script-sdk-release
  needs:
    - create-release-branch
  artifacts:
    expire_in: 30 days
    paths:
      - ${CI_PROJECT_DIR}/artifacts/*
    when: always
  variables:
    SLACK_CHANNEL: $SLACK_CHANNEL
    RELEASE_VERSION: $RELEASE_VERSION
    CONTENT_BRANCH_NAME: $CONTENT_BRANCH_NAME
    ARTIFACTS_FOLDER: "${CI_PROJECT_DIR}/artifacts/"
  script:
    - section_start "Trigger SDK nightly build" --collapsed
    - export SDK_PIPELINE_ID=$(./Utils/trigger_nightly_sdk_build.sh -ct "${GITLAB_SVC_USER_TOKEN}" -ch "${SLACK_CHANNEL}" -sr "${RELEASE_VERSION}" -cb "${CONTENT_BRANCH_NAME}" -ib "${CI_COMMIT_REF_NAME}" | tee ${ARTIFACTS_FOLDER}/trigger_nightly_sdk.log | jq .id)
    - echo $SDK_PIPELINE_ID > ${ARTIFACTS_FOLDER}/SDK_PIPELINE_ID.txt
    - echo "demisto-sdk nightly build triggered successfully:"
    - echo "${CI_SERVER_URL}/xdr/cortex-content/content/-/pipelines/${SDK_PIPELINE_ID}"
    - section_end "Trigger sdk nightly build"

wait-for-content-internal-dist-nightly:
  stage: wait-for-build-to-finish
  extends:
    - .release-sdk
    - .before-script-sdk-release
  allow_failure: true
  needs:
    - trigger-content-internal-dist-nightly
  artifacts:
    when: always
    expire_in: 30 days
    paths:
      - ${CI_PROJECT_DIR}/artifacts/*
  timeout: 6 hours
  variables:
    ARTIFACTS_FOLDER: "${CI_PROJECT_DIR}/artifacts/"
  script:
    - section_start "Wait for content-internal-dist nightly build" --collapsed
    - GOLD_PIPELINE_ID=$(head -n 1 "${ARTIFACTS_FOLDER}/GOLD_PIPELINE_ID.txt")
    - poetry run python3 -u ./Tests/sdk_release/wait_for_pipeline.py -g "${GITLAB_API_TOKEN_CONTENT}" -p "${GOLD_PIPELINE_ID}" -pid "${GOLD_PROJECT_ID}"
    - section_end "Wait for content-internal-dist nightly build"

wait-for-demisto-sdk-nightly:
  stage: wait-for-build-to-finish
  extends:
    - .release-sdk
    - .before-script-sdk-release
  allow_failure: true
  needs:
    - trigger-demisto-sdk-nightly
  artifacts:
    when: always
    expire_in: 30 days
    paths:
      - ${CI_PROJECT_DIR}/artifacts/*
  timeout: 6 hours
  variables:
    ARTIFACTS_FOLDER: "${CI_PROJECT_DIR}/artifacts/"
  script:
    - section_start "Wait for SDK nightly build" --collapsed
    - SDK_PIPELINE_ID=$(head -n 1 "${ARTIFACTS_FOLDER}/SDK_PIPELINE_ID.txt")
    - poetry run python3 -u ./Tests/sdk_release/wait_for_pipeline.py -g "${GITLAB_API_TOKEN_CONTENT}" -p "${SDK_PIPELINE_ID}" -pid "${CONTENT_PROJECT_ID}"
    - section_end "Wait for SDK nightly build"

slack-notify:
  stage: wait-for-build-to-finish
  extends:
    - .release-sdk
    - .before-script-sdk-release
  allow_failure: true
  needs:
    - wait-for-demisto-sdk-nightly
    - wait-for-content-internal-dist-nightly
  timeout: 6 hours
  variables:
    REVIEWER: $REVIEWER
    SLACK_CHANNEL: $SLACK_CHANNEL
  script:
    - section_start "Slack notify" --collapsed
    - poetry run python3 -u ./Tests/scripts/gitlab_basic_slack_notifier.py -s "${SLACK_TOKEN}" -t "All nightlies builds has been finished, please check their status and continue with the release" --allow-failure "${SLACK_ALLOW_FAILURE}" -gt "${GITLAB_API_TOKEN_CONTENT}" -gu "${REVIEWER}" -ch "${SLACK_CHANNEL}" --name-mapping_path "${CI_PROJECT_DIR}/config/name_mapping.json"
    - section_end "Slack notify"

create-release-pull-request:
  stage: release-flow
  extends:
    - .release-sdk
    - .before-script-sdk-release
  needs:
    - slack-notify
  when: manual
  variables:
    RELEASE_VERSION: $RELEASE_VERSION
    IS_DRAFT: $IS_DRAFT
    REVIEWER: $REVIEWER
    SLACK_CHANNEL: $SLACK_CHANNEL
    ARTIFACTS_FOLDER: "${CI_PROJECT_DIR}/artifacts/"
  script:
    - section_start "Create sdk release pr" --collapsed
    - poetry run python3 -u ./Tests/sdk_release/create_sdk_pr.py -t "${GITHUB_TOKEN}" -b "${RELEASE_VERSION}" -d "${IS_DRAFT}" -ro "${REVIEWER}" --artifacts-folder "${ARTIFACTS_FOLDER}"
    - poetry run python3 -u ./Tests/scripts/gitlab_basic_slack_notifier.py -s "${SLACK_TOKEN}" --allow-failure "${SLACK_ALLOW_FAILURE}" -gt "${GITLAB_API_TOKEN_CONTENT}" -gu "${REVIEWER}" -ch "${SLACK_CHANNEL}" -f "${ARTIFACTS_FOLDER}/SDK_PR_READY.txt" --name-mapping_path "${CI_PROJECT_DIR}/config/name_mapping.json"
    - section_end "Create sdk release pr"

deploy-sdk-to-pypi:
  stage: release-flow
  extends:
    - .release-sdk
    - .before-script-sdk-release
  needs:
    - create-release-pull-request
  when: manual
  timeout: 6 hours
  variables:
    RELEASE_VERSION: $RELEASE_VERSION
    IS_DRAFT: $IS_DRAFT
    REVIEWER: $REVIEWER
    ARTIFACTS_FOLDER: "${CI_PROJECT_DIR}/artifacts/"
  script:
    - section_start "Deploy SDK release" --collapsed
    - poetry run python3 -u ./Tests/sdk_release/create_release.py -t "${GITHUB_TOKEN}" -b "${RELEASE_VERSION}" -d "${IS_DRAFT}"
    - poetry run python3 -u ./Tests/sdk_release/wait_for_release.py -b "${RELEASE_VERSION}"
    - poetry run python3 -u ./Tests/sdk_release/create_content_pr.py -t "${GITHUB_TOKEN}" -b "${RELEASE_VERSION}" -r "${REVIEWER}" --artifacts-folder "${ARTIFACTS_FOLDER}" -d "${IS_DRAFT}"
    - poetry run python3 -u ./Tests/sdk_release/update_sdk_v_in_infra.py -c "${GITLAB_STATUS_TOKEN}" -rv "${RELEASE_VERSION}" -r "${REVIEWER}" --name-mapping_path "${CI_PROJECT_DIR}/config/name_mapping.json" -d "$IS_DRAFT"
    - poetry run python3 -u ./Tests/scripts/gitlab_basic_slack_notifier.py -s "${SLACK_TOKEN}" -f "${ARTIFACTS_FOLDER}/SLACK_MERGE_PRS_REQUEST.txt" --allow-failure "${SLACK_ALLOW_FAILURE}" -ch "${SLACK_CHANNEL}" -gu "${REVIEWER}" -gt "${GITLAB_API_TOKEN_CONTENT}" --name-mapping_path "${CI_PROJECT_DIR}/config/name_mapping.json"
    - section_end "Deploy SDK release"

wait-for-prs:
  stage: release-flow
  extends:
    - .release-sdk
    - .before-script-sdk-release
  needs:
    - deploy-sdk-to-pypi
  timeout: 6 hours
  variables:
    RELEASE_VERSION: $RELEASE_VERSION
    IS_DRAFT: $IS_DRAFT
    ARTIFACTS_FOLDER: "${CI_PROJECT_DIR}/artifacts/"
    SLACK_CHANNEL: $SLACK_CHANNEL
  script:
    - section_start "Wait for prs to be merged" --collapsed
    - poetry run python3 -u ./Tests/sdk_release/wait_for_release_prs.py -t "${GITHUB_TOKEN}" -b "${RELEASE_VERSION}" --artifacts-folder "${ARTIFACTS_FOLDER}" -c "${GITLAB_STATUS_TOKEN}"
    - poetry run python3 -u ./Tests/scripts/gitlab_basic_slack_notifier.py -s "${SLACK_TOKEN}" -f "${ARTIFACTS_FOLDER}/CHANGELOG_SLACK.txt" --allow-failure "${SLACK_ALLOW_FAILURE}" -ch "${SLACK_CHANNEL}" --name-mapping_path "${CI_PROJECT_DIR}/config/name_mapping.json"
    - section_end "Wait for prs to be merged"