# Secrets
BlacklistValidation/ @aedri
SecretActions/ @aedri
SecretActions/SecretExpirationReport/ @jgranot

# Marketplace - Marketplace PMs only
Tests/Marketplace/landingPage_sections.json @ypreisler @bkatzir
Tests/Marketplace/versions-metadata.json @ypreisler @ad-groups/demisto-lead

# Marketplace & Upload-Flow
Tests/scripts/create_artifacts_graph/create_artifacts.py @yrosenberg
Tests/Marketplace/upload_git_snapshot.py @ypreisler
Tests/Marketplace/copy_and_upload_packs.py @ypreisler
Tests/Marketplace/marketplace_services.py @ypreisler @yrosenberg
Tests/Marketplace/marketplace_statistics.py @ypreisler
Tests/Marketplace/marketplace_constants.py @ypreisler
Tests/Marketplace/zip_packs.py @ypreisler
Tests/Marketplace/upload_packs.py @ypreisler @yrosenberg
Tests/Marketplace/search_and_install_packs.py @ypreisler
Tests/scripts/prepare_content_packs_for_testing.sh @ypreisler
Utils/trigger_test_upload_flow.sh @ypreisler
Utils/trigger_upload_packs_to_production.sh @ypreisler
Utils/should_trigger_test_upload.sh @ypreisler
Utils/test_upload_flow/** @ypreisler

# Test Collection
Tests/scripts/collect_tests/ @mdagan

# Build related
.gitlab/** @mwienfeld
Tests/scripts/lock_cloud_machines.sh @mwienfeld
Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh @mwienfeld
Tests/Marketplace/search_and_uninstall_pack.py @mwienfeld
Tests/scripts/install_content_and_test_integrations.sh @mwienfeld
Tests/configure_and_test_integration_instances.py @mwienfeld
Tests/scripts/print_cloud_machine_details.sh @mwienfeld
Tests/scripts/run_tests.sh @mwienfeld
Tests/scripts/test_modeling_rules.sh @acarmi
Tests/scripts/lock_cloud_machines.py @mwienfeld
Tests/scripts/validate.sh @yhayun
.gitlab/ci/.gitlab-ci.sdk-nightly.yml @sfainberg
