.trigger_content_build_rule:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_LABELS !~ /Force Merge/
      changes:
        paths:
          - pyproject.toml
          - poetry.lock
          - Tests/**/*
          - Utils/**/*
          - gcp/**/*
          - SecretActions/**/*
          - gcp_automations/**/*
          - .gitlab/ci/content-ci/ci/**/*
          - .gitlab/ci/sdk-release-ci/**/*
          - .gitlab/ci/pre-commit/**/*
          - .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
          - .hooks/**/*
        compare_to: master

.before-script-trigger-content-build:
  before_script:
    - source .gitlab/helper_functions.sh
    - !reference [.setup-network-certs]
    - !reference [.poetry-install]
    - !reference [.granting_execute_permissions_on_files]
    - !reference [.setup-artifactory]
    - !reference [.create_artifacts_folder]

trigger-content-build:
  stage: trigger-content-build
  needs: []
  variables:
    TRIGGER_CONTENT_BUILD_YML: "${ARTIFACTS_FOLDER}/trigger-content-build.yml"
  extends:
    - .trigger_content_build_rule
    - .before-script-trigger-content-build
  script:
    - section_start "Trigger Content-build"
    - poetry run python3 -u ./Tests/scripts/trigger_content_build.py -pn "${CI_PROJECT_NAMESPACE}/content" -gt "$GITLAB_API_TOKEN_CONTENT" -bn "$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME" -gtt "$GITLAB_SVC_USER_TOKEN" -gct "$GITLAB_CONTENT_CANCEL_TOKEN" -ght "$GITHUB_TOKEN" -n "false" -sn "false" --wait --yaml "${TRIGGER_CONTENT_BUILD_YML}"
    - section_end "Trigger Content-build"
  artifacts:
    paths:
      - "${TRIGGER_CONTENT_BUILD_YML}"

content-build:
  extends:
    - .trigger_content_build_rule
  stage: content-build
  needs:
    - trigger-content-build
  trigger:
    strategy: depend
    include:
      - artifact: "${ARTIFACTS_FOLDER}/trigger-content-build.yml"
        job: trigger-content-build
