
default:
  image: ${DOCKER_IO}/devdemisto/gitlab-content-ci:1.0.0.64455
  artifacts:
    expire_in: 30 days
    paths:
      - ${CI_PROJECT_DIR}/artifacts/*
      - ${CI_PROJECT_DIR}/pipeline_jobs_folder/*
    when: always

stages:
  - cleanup
  - security
  - unittests-and-validations
  - prepare-testing-bucket
  - run-instances
  - results
  - upload-to-marketplace
  - create-updated-corepacks-list
  - validate-core-packs-list-versions
  - upload-updated-core-packs-list
  - sync-buckets
  - create-release-branch
  - trigger-nightlies
  - wait-for-build-to-finish
  - release-flow
  - are-jobs-really-done
  - fan-in  # concentrate pipeline artifacts to single job before triggering child slack pipeline
  - trigger-contribution-build
  - prepare-content
  - push-content

include:
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.variables.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.workflow.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.global.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.on-push.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.bucket-upload.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.sdk-nightly.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.miscellaneous.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.test-native-candidate.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.security-scans.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.trigger-contribution-build.yml
  - local: .gitlab/ci/content-ci/ci/.gitlab-ci.override-content.yml
  - local: .gitlab/ci/gitlab-ci.shared.variables.yml
  - local: .gitlab/ci/content-ci/ci/override-corepacks.yml
