default:
  image: ${DOCKER_IO}/devdemisto/gitlab-content-ci:1.0.0.64455
  artifacts:
    expire_in: 30 days
    paths:
      - ${CI_PROJECT_DIR}/artifacts/*
      - ${CI_PROJECT_DIR}/pipeline_jobs_folder/*
    when: always

stages:
  - force-merge
  - build-server-images
  - delete-server-images
  - blacklist-validation
  - bucket-logs
  - secret-expiration-report
  - build-machines-report
  - build-machines-report-pages
  - daily-build-status
  - unittests-and-validations
  - trigger-content-build
  - content-build
  - create-release-branch
  - trigger-nightlies
  - trigger-dev-nightly-builds
  - wait-for-build-to-finish
  - release-flow
  - creating-disposable-tenants
  - ask-permissions
  - update-workloads-and-configmap
  - tenants-health-check
  - create-mr-for-new-tenants
  - cleanup
  - fan-in

include:
  - local: .gitlab/ci/global.yml
  - local: .gitlab/ci/workflow.yml
  - local: .gitlab/ci/variables.yml
  - local: .gitlab/ci/.gitlab-ci.force-merge.yml
  - local: .gitlab/ci/server-images-builds.yml
  - local: .gitlab/ci/blacklist-validation.yml
  - local: .gitlab/ci/bucket-logs.yml
  - local: .gitlab/ci/secret-expiration-report.yml
  - local: .gitlab/ci/build-machines-report.yml
  - local: .gitlab/ci/daily_build_status.yml
  - local: .gitlab/ci/creating-disposable-tenants.yml
  - local: .gitlab/ci/trigger-content-build/.gitlab-ci.trigger-content-build.yml
  - local: .gitlab/ci/pre-commit/.gitlab-ci.pre-commit.yml
  - local: .gitlab/ci/sdk-release-ci/.gitlab-ci.sdk-release.yml
  - local: .gitlab/ci/build-machines-cleanup/.gitlab-ci.build-machines-cleanup.yml
  - local: .gitlab/ci/Unit-Tests/.gitlab-ci.unit-tests.yml
  - local: .gitlab/ci/trigger-dev-nightly-builds/.trigger-dev-nightly-builds.yml
  - local: .gitlab/ci/gitlab-ci.shared.variables.yml
